body {
  margin: 0;
  background-color: rgb(236, 236, 236);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  justify-content: center;
  background-color: rgb(249, 171, 26);
  padding: 5px;
}
header ul {
  display: flex;
  justify-content: center;
}
header ul li {
  list-style-type: none;
  padding: 0 10px;
}
header ul li a {
  text-decoration: none;
  color: white;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: lightgrey;
  width: 100%;
  margin-bottom: 20px;
}

.post {
  padding: 20px;
  margin: 20px;
  margin-left: 0;
  max-width: 640px;
  background-color: white;
}

.side {
  width: 180px;
  background-color: white;
  margin: 20px 0;
  padding: 10px;
}